{% extends "myApp/base.html" %}
{% load static %}
{% load staticfiles %}

{% block mainBody %}
<br>
<title>Abs workouts</title>

<div style="text-align:center">
    <h1>Abs workouts</h1>
    <br>
    <h5>Athletes of all sports—from baseball to football to hockey—base
        their physical training on improving the strength of their core using compound movements.
        That’s great for pro athletes, but what about guys who just want to get ripped abs?</h5>
    <br>
    <h5>Ready to get ripped and lose your love handles? These 5 abs exercises will be the last guide you’ll ever
        need.</h5>
    <br>
    <div>
        <h5>1. Ab Wheel Rollout</h5>
        <h5>Kneel on the floor and hold an ab wheel beneath your shoulders.
            Brace your abs and roll the wheel forward until you feel you’re about to lose tension in your core and your
            hips might sag.
            Roll yourself back to start. Do as many reps as you can with perfect form and end the set when you think you
            might break form.</h5>
        <div style="text-align:center">
            <img src="{% static 'images/Abs1.jpg' %}"
                 height="500" width="600"
                 alt="Abs1"/>
        </div>

        <h5>2. Arms-High Partial Situp</h5>
        <h5>Lie on your back, knees bent at 90 degrees, and raise your arms straight overhead,
            keeping them pointing up throughout the exercise. Sit up halfway, then steadily return to the floor. That’s
            one rep.</h5>
        <div style="text-align:center">
            <img src="{% static 'images/Abs2.jpg' %}"
                 height="500" width="600"
                 alt="Abs2"/>
        </div>

        <h5>3. Barbell Rollout</h5>
        <h5>Load the barbell with 10-pound plates and kneel on the floor behind it. Your shoulders should be over the
            bar.
            Brace your abs and roll the bar forward,
            reaching in front of you until you feel your hips are about to sag. Roll yourself back..</h5>
        <div style="text-align:center">
            <img src="{% static 'images/Abs3.jpg' %}"
                 height="500" width="600"
                 alt="Abs3"/>
        </div>

        <h5>4. Barbell Russian Twist</h5>
        <h5>Grasp the barbell near the very end again—this time with both hands.
            Stand with feet at shoulder width. Swing the bar to your left, pivoting your feet as needed,
            then swing to your right.</h5>
        <div style="text-align:center">
            <img src="{% static 'images/Abs4.jpg' %}"
                 height="500" width="600"
                 alt="Abs4"/>
        </div>

        <h5>5. Swiss Ball Crunch</h5>
        <h5>Lie back on the Swiss ball with feet shoulder-width apart on the floor. Your lower back should be supported
            by the ball.
            Place your hands behind your ears and tuck your chin. Curl your body up off the ball until you’re sitting
            up.</h5>
        <div style="text-align:center">
            <img src="{% static 'images/Abs5.jpg' %}"
                 height="500" width="600"
                 alt="Abs5"/>
        </div>
    </div>
    <br>
</div>
{% endblock mainBody %}

